$primary: #35495e;
$light: #526488;
$contrast: #765288;
$secondary: #3b8070;
$olive: #648852;
$darkgrey: #1d1d1d;
$white80: rgba(255, 255, 255, 0.8);
$white70: rgba(255, 255, 255, 0.7);
$white20: rgba(255, 255, 255, 0.16);
$white10: rgba(255, 255, 255, 0.08);
$black80: rgba(0, 0, 0, 0.8);
$black90: rgba(0, 0, 0, 0.9);
$red80: rgba(255,0,0,0.8);
$green80: rgba(0,255,0,0.8);
$go: #7BBD00;
